<?xml version="1.0" encoding="UTF-8" ?>
<launch>
	<arg name="robot_name" default="go1" />
        <arg name="sensors" default="true"/>
        <arg name="task_period" default="0.001"/>
        <arg name="load_force_sensors" default="false"/>


        <!-- Load the sensors that measured the internal wrench in the joints -->
        <arg name="internal_wrench" default="false"/>
        <arg name="new_gazebo_version" default="true" />
	    
	    <param name="task_period"  value="$(arg task_period)" />

        <!-- send robot urdf to param server -->
        <arg name="find_robot_description" value="$(eval find(robot_name+'_description'))"/>
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg find_robot_description)/robots/$(arg robot_name).urdf.xacro' new_gazebo_version:=$(arg new_gazebo_version)  task_period:=$(arg task_period) load_force_sensors:=$(arg load_force_sensors)"/> 

	

        <!-- send robot semantic description srdf to param server -->
        <param name="robot_semantic_description" command="$(find xacro)/xacro --inorder '$(arg find_robot_description)/robots/$(arg robot_name).srdf.xacro'" />

</launch>

